<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="org.netbeans.modules.profiler.v2.features.ObjectsFeature_SelectedClassesMode_SELECTION_FLAG">mypackage.criaArvBalThread,*, mypackage.Sort,*, mypackage.BuscaArvBalThread,*, mypackage.ArvoreBinaria$No,*, mypackage.BuscaArvBinThread,*, mypackage.criaArvBinThread,*, mypackage.No,*, mypackage.Busca,*, mypackage.ArvoreAvl$No,*, mypackage.Main,*, mypackage.criaArvoresThread,*, mypackage.Vetor,*, mypackage.SelectionSortThread,*, mypackage.ArvoreBinaria$Dado,*, mypackage.BubbleSortThread,*, mypackage.ArvoreBinaria,*, mypackage.geraVetorThread,*, mypackage.ArvoreAvl,*, mypackage.InsertionSortThread,*, </entry>
<entry key="org.netbeans.modules.profiler.v2.features.MethodsFeature_SelectedMethodsMode_SELECTION_FLAG">mypackage.ArvoreAvl,inserir,(D)V </entry>
<entry key="org.netbeans.modules.profiler.v2.features.ObjectsFeature_SelectedClassesMode_LIMIT_ALLOCATIONS_FLAG">10</entry>
<entry key="org.netbeans.modules.profiler.v2.features.MethodsFeature_MODE_FLAG">AllClassesMode</entry>
<entry key="org.netbeans.modules.profiler.v2.features.MethodsFeature_SelectedClassesMode_SELECTION_FLAG">ArvoreAvl,*, ArvoreBinaria,*, </entry>
<entry key="org.netbeans.modules.profiler.v2.features.MethodsFeature_SETTINGS_FLAG">true</entry>
<entry key="ACTIVATED_FEATURES">#org.netbeans.modules.profiler.v2.features.MonitorFeature@#org.netbeans.modules.profiler.v2.features.ObjectsFeature@#org.netbeans.modules.profiler.v2.features.ThreadsFeature@</entry>
<entry key="org.netbeans.modules.profiler.v2.features.ObjectsFeature_SETTINGS_FLAG">true</entry>
<entry key="org.netbeans.modules.profiler.v2.features.ObjectsFeature_MODE_FLAG">SelectedClassesMode</entry>
<entry key="SINGLE_FEATURE">false</entry>
</properties>
